<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<% if @no_events %>
					<%= link_to "Import Calendar", '/import_events', class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>