<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id='chart_ratings_hourly'></div>
			<%= render_chart(@events_ratings_hourly, 'chart_ratings_hourly') %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div id='chart_ratings_attendees'></div>
			<%= render_chart(@events_ratings_attendees, 'chart_ratings_attendees') %>
		</div>
	</div>
</div>