<div id='chart_ratings_attendee_count'></div>
<%= render_chart(@events_ratings_attendees, 'chart_ratings_attendee_count') %>
<br><br>
<div id='chart_ratings_hourly'></div>
<%= render_chart(@events_ratings_hourly, 'chart_ratings_hourly') %>