<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

<div class="container">
	<div class="col-sm-3"></div>

	<div class="col-sm-6">
		<input type="text" class="form-control" id="search-box">
		<div class="powered_by">powered by <a href="http://www.algolia.com" target="_blank"><img src="http://500.co/wp-content/uploads/2015/04/algolia.png" width="50"></a></div>
	</div>

	<div class="col-sm-3"></div>

	<br><br>

	<div class="results"></div>
</div>