body {
	margin: 25px;
	margin-top: 75px;
	color: #636363;
}

#nav-brand {
	margin-left: 20px;
	font-size: 20px;
}

.col-xs-6.navbar-right {
	margin-right: 25px;
}

.col-sm-4.col-sm-offset-4 {
	text-align: center;
	min-width: 350px
}

.col-xs-5.creator_self-true {
	color: green;
}

#mobile-toggle-button {
	margin-right: -50px
}

.well.beyond-edges {
	margin-left: -15px;
	margin-right: -15px;
	height: 200px;
	margin-bottom: 50px;
	margin-top: 25px;
}

#profile-name {
	font-size: 25px;
	font-weight: bold;
	margin-left: 20px;
}

#profile-summary {
	margin-left: 20px;
}

#chart_hourly {
	margin-left: -50px;
}

#chart_cancelled {
	margin-top: -15px;
}

#chart_cancelled > div > div:nth-child(1) > div > svg > rect {
	height: 175px;
}

#chart_daily {
	margin-top: -18px;
}

#chart_daily > div > div:nth-child(1) > div > svg {
	height: 200px;
}

.row.sankey {
	margin-bottom: 10px;
}

#meetings_created {
	font-size: 55px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: -25px;
}

#green {
	color: green;
}

@media all and (max-width: 1075px) {
	#chart_hourly {
		margin-left: -150px;
	}
}

@media all and (max-width: 750px) {
	.col-sm-5.meetings-organized {
		margin-bottom: 25px;
		text-align: center;
	}
}

@media all and (max-width: 500px) {

	#chart_hourly_small {
		margin-left: -110px;
	}
	#chart_hourly_small > div > div:nth-child(1) {
		max-width: 450px;
	}
	#chart_hourly_small > div > div:nth-child(1) > div {
		max-width: 450px;
	}
	#chart_hourly_small > div > div:nth-child(1) > div > svg {
		max-width: 450px;
	}
	#chart_hourly_small > div > div:nth-child(1) > div > svg > rect {
		max-width: 450px;
	}
	#chart_daily {
		margin-left: -50px;
	}
	#chart_daily > div > div:nth-child(1) {
		max-width: 450px;
	}
	#chart_daily > div > div:nth-child(1) > div {
		max-width: 450px;
	}
	#chart_daily > div > div:nth-child(1) > div > svg {
		max-width: 450px;
	}
	#chart_daily > div > div:nth-child(1) > div > svg > rect {
		max-width: 450px;
	}
	.col-sm-5.meetings-organized {
		margin-bottom: 25px;
		text-align: center;
	}

}