body {
	margin: 25px;
	margin-top: 75px;
	color: #636363;
}

.homepage-photo {
  position: fixed; 
  top: 0; 
  left: 0; 
  /* Preserve aspet ratio */
  min-width: 50%;
  min-height: 50%;
  -webkit-filter: blur(1px); 
}

#icon-block {
	text-align: right;
}

#register-info {
	margin-top: 75px;
}

.row.register-icon-row {
	margin-top: 30px;
}

#register-icon {
	font-size: 40px;
}

#register-form {
	max-width: 400px;
}

#login-form {
	max-width: 400px;
	margin: 0 auto;
    width:80% 
}

#about-page-top {
	font-size: 16px;
	margin-top: 50px;
}

.col-xs-12.caption {
	margin-top: 200px;
}

.col-xs-12.caption-two {
	margin-top: 225px;
}

#collab-photo {
	width: 650px;
}

#homepage-example {
	color: white;
	opacity: 0.8;
}

.row.homepage-bottom {
	margin-top: 50px;
	text-align: center;
}

#nav-brand {
	margin-left: 20px;
	margin-top: 12px;
	font-size: 23px;
	color: #428bca;
}

#sitename {
	margin-top: 12px;
	margin-left: 25px;
	font-size: 18px;
	font-weight: bold;
}

#sitename-url {
	text-decoration: none;
}

#brand-row {
	display: inline-block;
}

.navbar-right {
	margin-right: 25px;
}

.col-sm-4.col-sm-offset-4 {
	text-align: center;
	min-width: 350px
}

.creator_self-true {
	color: green;
}

#mobile-toggle-button {
	margin-right: -20px;
}

.well.beyond-edges {
	margin-left: -15px;
	margin-right: -15px;
	height: 200px;
	margin-bottom: 50px;
	margin-top: 25px;
}

#profile-name {
	font-size: 25px;
	font-weight: bold;
	margin-left: 20px;
}

#profile-summary {
	margin-left: 20px;
}

#chart_hourly > div > div:nth-child(1) > div > svg > rect {
	width: 700px;
}

#chart_hourly_caption {
	text-align: center;
	font-size: 12px;
	color: #b1b1b1;
}

#chart_cancelled {
	margin-top: -18px;
	margin-right: 15px;
	margin-left: 10px;
}

#chart_cancelled > div {
	height: 175px;
}

#chart_cancelled > div > div:nth-child(1) {
	height: 175px;
}

#chart_cancelled > div > div:nth-child(1) > div {
	height: 175px;
}

#chart_cancelled > div > div:nth-child(1) > div > svg {
	height: 175px;
}

#chart_cancelled > div > div:nth-child(1) > div > svg > rect {
	height: 175px;
}

#chart_cancelled_caption {
	text-align: center;
	font-size: 12px;
	color: #b1b1b1;
}

#chart_daily {
	margin-top: -18px;
}

#chart_daily > div > div:nth-child(1) > div > svg {
	height: 200px;
}

.row.sankey {
	margin-bottom: 20px;
}

#chart_top_collabs_caption {
	text-align: center;
	font-size: 12px;
	color: #b1b1b1;
}

#meetings_created {
	font-size: 55px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: -25px;
}

#meetings_recurrence {
	font-size: 55px;
	font-weight: bold;
	margin-top: 25px;
}

#meetings_recurrence_copy {
	margin-bottom: 25px;
}

#rating-headers {
	font-size: 16px;
	font-weight: bold;
}

#ratings-bottom-navbar {
	height: 50px;
	vertical-align: middle;
}

#bottom-submit {
	margin-top: 5px;
}

#current-rating {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#green {
	color: green;
}

@media all and (max-width: 1075px) {
	#register-form {
		max-width: 400px;
		margin: 0 auto;
    	width:80% 
	}
	
	#register-info {
		margin-top: 55px;
	}
}

@media all and (max-width: 750px) {
	#sitename {
		margin-left: 25px;
	}
	#icon-block {
		text-align: center;
	}
	#register-words {
		text-align: center;
	}
	.col-sm-5.meetings-organized {
		margin-bottom: 25px;
		text-align: center;
	}
	.meetings-organized {
		margin-bottom: 25px;
		text-align: center;
	}
}

@media all and (max-width: 500px) {
	#nav-brand {
		margin-left: 0px;
	}
	#sitename {
		margin-left: 0px;
	}
	.well.beyond-edges {
		margin-left: -15px;
		margin-right: -25px;
		min-width: 100%;
	}
	.col-xs-12.caption {
		margin-top: 150px;
	}
	.col-xs-12.caption-two {
		margin-top: 300px;
	}
	#chart_hourly_small_about {
		margin-left: -115px;
	}
	#chart_daily {
		margin-left: -50px;
	}
	#chart_hourly_small > div > div:nth-child(1) {
		max-width: 325px;
	}
	#chart_hourly_small > div > div:nth-child(1) > div {
		width: 325px;
	}
	#chart_hourly_small > div > div:nth-child(1) > div > svg {
		width: 325px;
	}
	#chart_hourly_small > div > div:nth-child(1) > div > svg > rect {
		width: 325px;
	}
	#chart_daily > div > div:nth-child(1) {
		max-width: 325px;
	}
	#chart_daily > div > div:nth-child(1) > div {
		max-width: 325px;
	}
	#chart_daily > div > div:nth-child(1) > div > svg {
		max-width: 325px;
	}
	#chart_daily > div > div:nth-child(1) > div > svg > rect {
		max-width: 325px;
	}
	.col-sm-5.meetings-organized {
		margin-bottom: 25px;
		text-align: center;
	}
	.meetings-organized {
		margin-bottom: 25px;
		text-align: center;
	}
	#meetings_recurrence {
		margin-bottom: -10px;
	}
	#meetings_recurrence_copy {
		margin-top: -20px;
	}
	#rating-headers {
		font-size: 12px;
		font-weight: bold;
	}
	#profile-mobile {
		margin-top: 40px;
	}

}