<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<%= "Analyze your calendar and help us predict whether you should go to your next meeting" %>
		</div>
		<div class="col-xs-6">
			<%= image_tag "collaborations_sankey.png", id:'collab-photo'%>
		</div>
	</div>
	<div class="row homepage-bottom">
		<%= "created by" %> <%= link_to "Stanley Stevens", 'http://www.stanleyyork.com' %>
	</div>
</div>

