<script>$("body > nav").hide();</script>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<%= image_tag "jump.jpg", class: "homepage-photo" %>
		</div><br><br><br>
		<div class="col-xs-4">
			<div class="carousel-caption">
	           <h1 id="highlight">LunaCal</h1>
	        </div>
	    </div>
	</div><br><br><br><br>
	<div class="row">
	    <div class="col-xs-12">
	        <div class="carousel-caption">
	           <h3 id="highlight">Analyze your calendar and help us predict whether you should go to your next meeting</h3>
	        </div>
        </div>
    </div>
	</div>
</div>