<script>$("body > nav").hide();</script>
<div class="container">
	<div class="row">
		<div class="col-xs-12 background-image">
		<%= asset_path('nyc_park'), class: "homepage-photo" %>
		</div>
		<div class="col-xs-12 caption">
			<div class="carousel-caption">
	           <h1 id="highlight">LunarCal</h1>
	        </div><br>
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12 caption-two">
	        <div class="carousel-caption">
	           <h3 id="highlight">Analyze your calendar for basic stats and to predict whether you should go to your next meeting</h3><br>
	           <a href="/signup" class="btn btn-lg btn-primary">Register</a><br><br>
	           <a href="/about" class="" id="homepage-example">Learn More</a>
	        </div>
        </div>
    </div>
	</div>
</div>